body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:831px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u20965 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:40px;
  width:97px;
  height:33px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u20965 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20965_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:324px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20966 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:101px;
  width:711px;
  height:324px;
  display:flex;
}
#u20966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:79px;
}
#u20967 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:121px;
  width:80px;
  height:79px;
  display:flex;
}
#u20967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:79px;
}
#u20968 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:121px;
  width:80px;
  height:79px;
  display:flex;
}
#u20968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:79px;
}
#u20969 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:121px;
  width:80px;
  height:79px;
  display:flex;
}
#u20969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20970 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:433px;
  width:140px;
  height:40px;
  display:flex;
}
#u20970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20971 label {
  left:0px;
  width:100%;
}
#u20971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u20971 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:517px;
  width:83px;
  height:18px;
  display:flex;
}
#u20971 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u20971_img.selected {
}
#u20971.selected {
}
#u20971_img.disabled {
}
#u20971.disabled {
}
#u20971_img.selected.error {
}
#u20971.selected.error {
}
#u20971_img.selected.hint {
}
#u20971.selected.hint {
}
#u20971_img.selected.error.hint {
}
#u20971.selected.error.hint {
}
#u20971_img.mouseOver.selected {
}
#u20971.mouseOver.selected {
}
#u20971_img.mouseOver.selected.error {
}
#u20971.mouseOver.selected.error {
}
#u20971_img.mouseOver.selected.hint {
}
#u20971.mouseOver.selected.hint {
}
#u20971_img.mouseOver.selected.error.hint {
}
#u20971.mouseOver.selected.error.hint {
}
#u20971_img.mouseDown.selected {
}
#u20971.mouseDown.selected {
}
#u20971_img.mouseDown.selected.error {
}
#u20971.mouseDown.selected.error {
}
#u20971_img.mouseDown.selected.hint {
}
#u20971.mouseDown.selected.hint {
}
#u20971_img.mouseDown.selected.error.hint {
}
#u20971.mouseDown.selected.error.hint {
}
#u20971_img.mouseOver.mouseDown.selected {
}
#u20971.mouseOver.mouseDown.selected {
}
#u20971_img.mouseOver.mouseDown.selected.error {
}
#u20971.mouseOver.mouseDown.selected.error {
}
#u20971_img.mouseOver.mouseDown.selected.hint {
}
#u20971.mouseOver.mouseDown.selected.hint {
}
#u20971_img.mouseOver.mouseDown.selected.error.hint {
}
#u20971.mouseOver.mouseDown.selected.error.hint {
}
#u20971_img.focused.selected {
}
#u20971.focused.selected {
}
#u20971_img.focused.selected.error {
}
#u20971.focused.selected.error {
}
#u20971_img.focused.selected.hint {
}
#u20971.focused.selected.hint {
}
#u20971_img.focused.selected.error.hint {
}
#u20971.focused.selected.error.hint {
}
#u20971_img.selected.disabled {
}
#u20971.selected.disabled {
}
#u20971_img.selected.hint.disabled {
}
#u20971.selected.hint.disabled {
}
#u20971_img.selected.error.disabled {
}
#u20971.selected.error.disabled {
}
#u20971_img.selected.error.hint.disabled {
}
#u20971.selected.error.hint.disabled {
}
#u20971_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:66px;
  white-space:nowrap;
  text-transform:none;
}
#u20971_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u20972 label {
  left:0px;
  width:100%;
}
#u20972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u20972 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:517px;
  width:70px;
  height:18px;
  display:flex;
}
#u20972 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u20972_img.selected {
}
#u20972.selected {
}
#u20972_img.disabled {
}
#u20972.disabled {
}
#u20972_img.selected.error {
}
#u20972.selected.error {
}
#u20972_img.selected.hint {
}
#u20972.selected.hint {
}
#u20972_img.selected.error.hint {
}
#u20972.selected.error.hint {
}
#u20972_img.mouseOver.selected {
}
#u20972.mouseOver.selected {
}
#u20972_img.mouseOver.selected.error {
}
#u20972.mouseOver.selected.error {
}
#u20972_img.mouseOver.selected.hint {
}
#u20972.mouseOver.selected.hint {
}
#u20972_img.mouseOver.selected.error.hint {
}
#u20972.mouseOver.selected.error.hint {
}
#u20972_img.mouseDown.selected {
}
#u20972.mouseDown.selected {
}
#u20972_img.mouseDown.selected.error {
}
#u20972.mouseDown.selected.error {
}
#u20972_img.mouseDown.selected.hint {
}
#u20972.mouseDown.selected.hint {
}
#u20972_img.mouseDown.selected.error.hint {
}
#u20972.mouseDown.selected.error.hint {
}
#u20972_img.mouseOver.mouseDown.selected {
}
#u20972.mouseOver.mouseDown.selected {
}
#u20972_img.mouseOver.mouseDown.selected.error {
}
#u20972.mouseOver.mouseDown.selected.error {
}
#u20972_img.mouseOver.mouseDown.selected.hint {
}
#u20972.mouseOver.mouseDown.selected.hint {
}
#u20972_img.mouseOver.mouseDown.selected.error.hint {
}
#u20972.mouseOver.mouseDown.selected.error.hint {
}
#u20972_img.focused.selected {
}
#u20972.focused.selected {
}
#u20972_img.focused.selected.error {
}
#u20972.focused.selected.error {
}
#u20972_img.focused.selected.hint {
}
#u20972.focused.selected.hint {
}
#u20972_img.focused.selected.error.hint {
}
#u20972.focused.selected.error.hint {
}
#u20972_img.selected.disabled {
}
#u20972.selected.disabled {
}
#u20972_img.selected.hint.disabled {
}
#u20972.selected.hint.disabled {
}
#u20972_img.selected.error.disabled {
}
#u20972.selected.error.disabled {
}
#u20972_img.selected.error.hint.disabled {
}
#u20972.selected.error.hint.disabled {
}
#u20972_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:53px;
  white-space:nowrap;
  text-transform:none;
}
#u20972_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u20973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20973_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20973_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20973_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20973 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:549px;
  width:300px;
  height:25px;
  display:flex;
}
#u20973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20973_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20973.hint {
}
#u20973_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20973.disabled {
}
#u20973_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20973.hint.disabled {
}
#u20974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20974 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:549px;
  width:53px;
  height:18px;
  display:flex;
}
#u20974 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20974_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20975 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:627px;
  width:178px;
  height:40px;
  display:flex;
}
#u20975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:667px;
}
#u20976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:667px;
  display:flex;
}
#u20976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20977 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:361px;
  width:380px;
  height:206px;
  display:flex;
}
#u20977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20978 label {
  left:0px;
  width:100%;
}
#u20978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u20978 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:302px;
  width:94px;
  height:18px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20978 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u20978_img.selected {
}
#u20978.selected {
}
#u20978_img.disabled {
}
#u20978.disabled {
}
#u20978_img.selected.error {
}
#u20978.selected.error {
}
#u20978_img.selected.hint {
}
#u20978.selected.hint {
}
#u20978_img.selected.error.hint {
}
#u20978.selected.error.hint {
}
#u20978_img.mouseOver.selected {
}
#u20978.mouseOver.selected {
}
#u20978_img.mouseOver.selected.error {
}
#u20978.mouseOver.selected.error {
}
#u20978_img.mouseOver.selected.hint {
}
#u20978.mouseOver.selected.hint {
}
#u20978_img.mouseOver.selected.error.hint {
}
#u20978.mouseOver.selected.error.hint {
}
#u20978_img.mouseDown.selected {
}
#u20978.mouseDown.selected {
}
#u20978_img.mouseDown.selected.error {
}
#u20978.mouseDown.selected.error {
}
#u20978_img.mouseDown.selected.hint {
}
#u20978.mouseDown.selected.hint {
}
#u20978_img.mouseDown.selected.error.hint {
}
#u20978.mouseDown.selected.error.hint {
}
#u20978_img.mouseOver.mouseDown.selected {
}
#u20978.mouseOver.mouseDown.selected {
}
#u20978_img.mouseOver.mouseDown.selected.error {
}
#u20978.mouseOver.mouseDown.selected.error {
}
#u20978_img.mouseOver.mouseDown.selected.hint {
}
#u20978.mouseOver.mouseDown.selected.hint {
}
#u20978_img.mouseOver.mouseDown.selected.error.hint {
}
#u20978.mouseOver.mouseDown.selected.error.hint {
}
#u20978_img.focused.selected {
}
#u20978.focused.selected {
}
#u20978_img.focused.selected.error {
}
#u20978.focused.selected.error {
}
#u20978_img.focused.selected.hint {
}
#u20978.focused.selected.hint {
}
#u20978_img.focused.selected.error.hint {
}
#u20978.focused.selected.error.hint {
}
#u20978_img.selected.disabled {
}
#u20978.selected.disabled {
}
#u20978_img.selected.hint.disabled {
}
#u20978.selected.hint.disabled {
}
#u20978_img.selected.error.disabled {
}
#u20978.selected.error.disabled {
}
#u20978_img.selected.error.hint.disabled {
}
#u20978.selected.error.hint.disabled {
}
#u20978_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:77px;
  word-wrap:break-word;
  text-transform:none;
}
#u20978_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u20979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20979_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u20979 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:336px;
  width:220px;
  height:25px;
  display:flex;
  font-size:11px;
}
#u20979 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20979_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u20979.disabled {
}
.u20979_input_option {
  font-size:11px;
}
#u20980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20980 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:338px;
  width:53px;
  height:18px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20980 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20980_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:85px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u20981_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:85px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u20981_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:85px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u20981_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:85px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u20981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20981 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:526px;
  width:673px;
  height:85px;
  display:flex;
}
#u20981 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20981_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20981.hint {
}
#u20981_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:85px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20981.disabled {
}
#u20981_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:85px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20981.hint.disabled {
}
#u20982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20982 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:526px;
  width:27px;
  height:18px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20982 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20982_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20983 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:383px;
  width:27px;
  height:18px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20983 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20983_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u20984 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:416px;
  width:79px;
  height:17px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u20984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20985_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20985_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20985_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u20985 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:380px;
  width:220px;
  height:25px;
  display:flex;
  font-size:11px;
}
#u20985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20985_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u20985.hint {
}
#u20985_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u20985.disabled {
}
#u20985_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u20985.hint.disabled {
}
#u20986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u20986 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:416px;
  width:54px;
  height:17px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u20986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u20987 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:416px;
  width:63px;
  height:17px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u20987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
