body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:856px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u22654 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:23px;
  width:856px;
  height:666px;
}
#u22654_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:666px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22654_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:415px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.5450980392156862);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22655 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:188px;
  width:811px;
  height:415px;
  display:flex;
}
#u22655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.5450980392156862);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22656 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:811px;
  height:152px;
  display:flex;
}
#u22656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22657 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:615px;
  width:118px;
  height:34px;
  display:flex;
}
#u22657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u22658 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:216px;
  width:52px;
  height:48px;
  display:flex;
}
#u22658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u22659 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:216px;
  width:52px;
  height:48px;
  display:flex;
}
#u22659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u22660 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:218px;
  width:52px;
  height:48px;
  display:flex;
}
#u22660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u22661 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:218px;
  width:52px;
  height:48px;
  display:flex;
}
#u22661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u22662 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:297px;
  width:52px;
  height:43px;
  display:flex;
}
#u22662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u22663 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:217px;
  width:52px;
  height:43px;
  display:flex;
  font-size:48px;
}
#u22663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u22664 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:218px;
  width:52px;
  height:48px;
  display:flex;
}
#u22664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22665 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:93px;
  width:783px;
  height:64px;
}
#u22666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u22666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  display:flex;
}
#u22666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u22667 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:0px;
  width:119px;
  height:30px;
  display:flex;
}
#u22667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u22668 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:0px;
  width:129px;
  height:30px;
  display:flex;
}
#u22668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u22669 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:0px;
  width:211px;
  height:30px;
  display:flex;
}
#u22669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u22670 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:0px;
  width:116px;
  height:30px;
  display:flex;
}
#u22670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u22671 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:0px;
  width:129px;
  height:30px;
  display:flex;
}
#u22671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u22672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:78px;
  height:34px;
  display:flex;
}
#u22672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
}
#u22673 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:30px;
  width:119px;
  height:34px;
  display:flex;
}
#u22673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u22674 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:30px;
  width:129px;
  height:34px;
  display:flex;
}
#u22674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:34px;
}
#u22675 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:30px;
  width:211px;
  height:34px;
  display:flex;
}
#u22675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
}
#u22676 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:30px;
  width:116px;
  height:34px;
  display:flex;
}
#u22676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u22677 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:30px;
  width:129px;
  height:34px;
  display:flex;
}
#u22677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u22678 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:86px;
  height:18px;
  display:flex;
  color:#169BD5;
}
#u22678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22678_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22679 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:58px;
  width:92px;
  height:18px;
  display:flex;
}
#u22679 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22679_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22680 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:75px;
  width:300px;
  height:16px;
  display:flex;
}
#u22680 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22681 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:22px;
  width:272px;
  height:17px;
  display:flex;
}
#u22681 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22682 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:40px;
  width:226px;
  height:18px;
  display:flex;
}
#u22682 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22682_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u22683 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:176px;
  width:92px;
  height:18px;
  display:flex;
  color:#169BD5;
}
#u22683 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22683_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u22684 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:297px;
  width:52px;
  height:43px;
  display:flex;
}
#u22684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22685 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:195px;
  width:66px;
  height:18px;
  display:flex;
}
#u22685 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22685_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22686 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:276px;
  width:66px;
  height:18px;
  display:flex;
}
#u22686 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22686_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u22687 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:297px;
  width:52px;
  height:43px;
  display:flex;
  font-size:48px;
}
#u22687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22688 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:352px;
  width:66px;
  height:18px;
  display:flex;
}
#u22688 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22688_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22689 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:422px;
  width:40px;
  height:10px;
  display:flex;
}
#u22689 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22689_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u22690 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:446px;
  width:52px;
  height:43px;
  display:flex;
}
#u22690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u22691 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:446px;
  width:52px;
  height:43px;
  display:flex;
}
#u22691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u22692 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:447px;
  width:52px;
  height:43px;
  display:flex;
  font-size:48px;
}
#u22692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u22693 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:373px;
  width:52px;
  height:43px;
  display:flex;
  font-size:48px;
}
#u22693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22694 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:508px;
  width:40px;
  height:10px;
  display:flex;
}
#u22694 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22694_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22695 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:523px;
  width:799px;
  height:80px;
  display:flex;
}
#u22695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u22696 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:615px;
  width:118px;
  height:34px;
  display:flex;
  color:#555555;
}
#u22696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u22697 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:615px;
  width:118px;
  height:34px;
  display:flex;
  color:#555555;
}
#u22697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22654_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:666px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u22654_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:666px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:666px;
  display:flex;
}
#u22698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22699 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:9px;
  width:65px;
  height:22px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22699 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22699_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22700 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:535px;
  width:91px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u22701 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:9px;
  width:20px;
  height:22px;
  display:flex;
}
#u22701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:2px;
}
#u22702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:856px;
  height:1px;
  display:flex;
}
#u22702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22703 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:63px;
  width:152px;
  height:30px;
}
#u22703_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u22705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u22705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22705_img.mouseOver {
}
#u22705.mouseOver {
}
#u22705_img.selected {
}
#u22705.selected {
}
#u22705_img.mouseOver.selected {
}
#u22705.mouseOver.selected {
}
#u22705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u22706 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:0px;
  width:76px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22706_img.mouseOver {
}
#u22706.mouseOver {
}
#u22706_img.selected {
}
#u22706.selected {
}
#u22706_img.mouseOver.selected {
}
#u22706.mouseOver.selected {
}
#u22706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22707 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:93px;
  width:749px;
  height:353px;
}
#u22707_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:353px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22707_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:64px;
}
#u22708 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:73px;
  width:69px;
  height:64px;
  display:flex;
}
#u22708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:97px;
  height:93px;
  display:flex;
}
#u22709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22710 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:260px;
  width:97px;
  height:93px;
  display:flex;
}
#u22710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22711 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:260px;
  width:97px;
  height:93px;
  display:flex;
}
#u22711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22712 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:260px;
  width:97px;
  height:93px;
  display:flex;
}
#u22712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22713 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:260px;
  width:97px;
  height:93px;
  display:flex;
}
#u22713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22714 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:260px;
  width:97px;
  height:93px;
  display:flex;
}
#u22714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22715 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:260px;
  width:97px;
  height:93px;
  display:flex;
}
#u22715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D9001B;
  text-align:center;
}
#u22716 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:246px;
  width:23px;
  height:26px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D9001B;
  text-align:center;
}
#u22716 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Light", "PingFang SC Light", "PingFang SC", sans-serif;
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u22717 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:152px;
  width:186px;
  height:25px;
  display:flex;
  font-family:"PingFangSC-Light", "PingFang SC Light", "PingFang SC", sans-serif;
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u22717 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22707_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:353px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u22707_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:97px;
  height:93px;
  display:flex;
}
#u22718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22719 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:260px;
  width:97px;
  height:93px;
  display:flex;
}
#u22719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22720 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:260px;
  width:97px;
  height:93px;
  display:flex;
}
#u22720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22721 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:260px;
  width:97px;
  height:93px;
  display:flex;
}
#u22721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22722 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:260px;
  width:97px;
  height:93px;
  display:flex;
}
#u22722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22723 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:260px;
  width:97px;
  height:93px;
  display:flex;
}
#u22723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22724 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:260px;
  width:97px;
  height:93px;
  display:flex;
}
#u22724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:97px;
  height:93px;
  display:flex;
}
#u22725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22726 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:45px;
  width:97px;
  height:93px;
  display:flex;
}
#u22726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22727 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:45px;
  width:97px;
  height:93px;
  display:flex;
}
#u22727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22728 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:45px;
  width:97px;
  height:93px;
  display:flex;
}
#u22728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22729 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:45px;
  width:97px;
  height:93px;
  display:flex;
}
#u22729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22730 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:45px;
  width:97px;
  height:93px;
  display:flex;
}
#u22730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22731 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:45px;
  width:97px;
  height:93px;
  display:flex;
}
#u22731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:97px;
  height:93px;
  display:flex;
}
#u22732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22733 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:147px;
  width:97px;
  height:93px;
  display:flex;
}
#u22733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22734 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:147px;
  width:97px;
  height:93px;
  display:flex;
}
#u22734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22735 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:147px;
  width:97px;
  height:93px;
  display:flex;
}
#u22735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22736 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:147px;
  width:97px;
  height:93px;
  display:flex;
}
#u22736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22737 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:147px;
  width:97px;
  height:93px;
  display:flex;
}
#u22737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u22738 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:147px;
  width:97px;
  height:93px;
  display:flex;
}
#u22738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u22739 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:53px;
  width:21px;
  height:20px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u22739 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u22740 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:155px;
  width:21px;
  height:20px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u22740 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
