body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:856px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u29899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u29899 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:65px;
  height:22px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u29899 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29899_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u29900 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:536px;
  width:91px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u29900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u29901 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:10px;
  width:20px;
  height:22px;
  display:flex;
}
#u29901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:2px;
}
#u29902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:856px;
  height:1px;
  display:flex;
}
#u29902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29903 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:64px;
  width:218px;
  height:30px;
}
#u29903_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u29905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u29905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u29905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29905_img.mouseOver {
}
#u29905.mouseOver {
}
#u29905_img.selected {
}
#u29905.selected {
}
#u29905_img.mouseOver.selected {
}
#u29905.mouseOver.selected {
}
#u29905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u29906 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:0px;
  width:76px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u29906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29906_img.mouseOver {
}
#u29906.mouseOver {
}
#u29906_img.selected {
}
#u29906.selected {
}
#u29906_img.mouseOver.selected {
}
#u29906.mouseOver.selected {
}
#u29906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u29907 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:0px;
  width:66px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u29907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29907_img.mouseOver {
}
#u29907.mouseOver {
}
#u29907_img.selected {
}
#u29907.selected {
}
#u29907_img.mouseOver.selected {
}
#u29907.mouseOver.selected {
}
#u29907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29908 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:94px;
  width:749px;
  height:353px;
}
#u29908_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:353px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29908_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:353px;
}
#u29909 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:749px;
  height:353px;
  display:flex;
}
#u29909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29910 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:183px;
  width:180px;
  height:108px;
  display:flex;
}
#u29910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u29911 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:104px;
  width:21px;
  height:20px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u29911 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u29912 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:104px;
  width:21px;
  height:20px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u29912 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:132px;
}
#u29913 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:34px;
  width:172px;
  height:132px;
  display:flex;
}
#u29913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:132px;
}
#u29914 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:187px;
  width:172px;
  height:132px;
  display:flex;
}
#u29914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:132px;
}
#u29915 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:187px;
  width:172px;
  height:132px;
  display:flex;
}
#u29915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:132px;
}
#u29916 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:34px;
  width:172px;
  height:132px;
  display:flex;
}
#u29916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:132px;
}
#u29917 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:34px;
  width:172px;
  height:132px;
  display:flex;
}
#u29917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:132px;
}
#u29918 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:34px;
  width:172px;
  height:132px;
  display:flex;
}
#u29918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:132px;
}
#u29919 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:189px;
  width:172px;
  height:132px;
  display:flex;
}
#u29919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29908_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:353px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u29908_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:353px;
}
#u29920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:353px;
  display:flex;
}
#u29920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:180px;
  height:108px;
  display:flex;
}
#u29921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29922 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:23px;
  width:180px;
  height:108px;
  display:flex;
}
#u29922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29923 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:23px;
  width:180px;
  height:108px;
  display:flex;
}
#u29923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29924 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:23px;
  width:180px;
  height:108px;
  display:flex;
}
#u29924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:180px;
  height:108px;
  display:flex;
}
#u29925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29926 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:174px;
  width:180px;
  height:108px;
  display:flex;
}
#u29926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29927 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:173px;
  width:180px;
  height:108px;
  display:flex;
}
#u29927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u29928 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:94px;
  width:21px;
  height:20px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u29928 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u29929 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:245px;
  width:21px;
  height:20px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u29929 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
