body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-13px;
  width:1016px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u29960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u29960 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:-121px;
  width:305px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u29960 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29960_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29961 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:1016px;
  height:60px;
  display:flex;
}
#u29961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u29962 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:10px;
  width:85px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u29962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#AAAAAA;
  text-align:left;
}
#u29963 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:14px;
  width:186px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#AAAAAA;
  text-align:left;
}
#u29963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u29964 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:17px;
  width:57px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u29964 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29964_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u29965 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:17px;
  width:71px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u29965 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29965_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29966_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u29966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29966 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:12px;
  width:184px;
  height:26px;
  display:flex;
}
#u29966 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29966_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:26px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29966.disabled {
}
.u29966_input_option {
}
#u29967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u29967 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:69px;
  width:85px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u29967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29968 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:109px;
  width:1014px;
  height:190px;
}
#u29969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u29969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
  display:flex;
}
#u29969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:36px;
}
#u29970 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:353px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u29970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u29971 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:0px;
  width:70px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u29971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
}
#u29972 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:0px;
  width:146px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u29972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u29973 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:0px;
  width:91px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u29973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:36px;
}
#u29974 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:0px;
  width:305px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u29974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u29975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:49px;
  height:31px;
  display:flex;
}
#u29975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:31px;
}
#u29976 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:36px;
  width:353px;
  height:31px;
  display:flex;
  text-align:left;
}
#u29976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
}
#u29977 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:36px;
  width:70px;
  height:31px;
  display:flex;
  font-size:14px;
}
#u29977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:31px;
}
#u29978 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:36px;
  width:146px;
  height:31px;
  display:flex;
  font-size:14px;
}
#u29978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
}
#u29979 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:36px;
  width:91px;
  height:31px;
  display:flex;
  font-size:14px;
}
#u29979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:31px;
}
#u29980 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:36px;
  width:305px;
  height:31px;
  display:flex;
  font-size:14px;
}
#u29980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u29981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:67px;
  width:49px;
  height:33px;
  display:flex;
}
#u29981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:33px;
}
#u29982 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:67px;
  width:353px;
  height:33px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u29982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u29983 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:67px;
  width:70px;
  height:33px;
  display:flex;
  font-size:14px;
}
#u29983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
}
#u29984 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:67px;
  width:146px;
  height:33px;
  display:flex;
  font-size:14px;
}
#u29984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
}
#u29985 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:67px;
  width:91px;
  height:33px;
  display:flex;
  font-size:14px;
}
#u29985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:33px;
}
#u29986 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:67px;
  width:305px;
  height:33px;
  display:flex;
  font-size:14px;
}
#u29986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u29987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:49px;
  height:30px;
  display:flex;
}
#u29987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u29988 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:100px;
  width:353px;
  height:30px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u29988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u29989 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:100px;
  width:70px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u29989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u29990 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:100px;
  width:146px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u29990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u29991 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:100px;
  width:91px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u29991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u29992 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:100px;
  width:305px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u29992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u29993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:49px;
  height:30px;
  display:flex;
}
#u29993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u29994 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:130px;
  width:353px;
  height:30px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u29994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u29995 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:130px;
  width:70px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u29995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u29996 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:130px;
  width:146px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u29996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u29997 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:130px;
  width:91px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u29997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u29998 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:130px;
  width:305px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u29998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u29999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:49px;
  height:30px;
  display:flex;
}
#u29999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u30000 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:160px;
  width:353px;
  height:30px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u30000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u30001 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:160px;
  width:70px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u30001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u30002 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:160px;
  width:146px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u30002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u30003 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:160px;
  width:91px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u30003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u30004 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:160px;
  width:305px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u30004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30005 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:114px;
  width:20px;
  height:20px;
  display:flex;
}
#u30005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30006 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:150px;
  width:20px;
  height:20px;
  display:flex;
}
#u30006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30007 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:183px;
  width:20px;
  height:20px;
  display:flex;
}
#u30007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30008 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:211px;
  width:20px;
  height:20px;
  display:flex;
}
#u30008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30009 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:244px;
  width:20px;
  height:20px;
  display:flex;
}
#u30009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30010 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:272px;
  width:20px;
  height:20px;
  display:flex;
}
#u30010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u30011 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:150px;
  width:27px;
  height:22px;
  display:flex;
  font-size:10px;
}
#u30011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u30012 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:150px;
  width:27px;
  height:22px;
  display:flex;
  font-size:10px;
}
#u30012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u30013 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:185px;
  width:27px;
  height:22px;
  display:flex;
  font-size:10px;
}
#u30013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u30014 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:215px;
  width:27px;
  height:22px;
  display:flex;
  font-size:10px;
}
#u30014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u30015 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:244px;
  width:27px;
  height:22px;
  display:flex;
  font-size:10px;
}
#u30015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u30016 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:274px;
  width:27px;
  height:22px;
  display:flex;
  font-size:10px;
}
#u30016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30017 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:150px;
  width:31px;
  height:22px;
  display:flex;
}
#u30017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30017_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u30018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30018 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:185px;
  width:31px;
  height:22px;
  display:flex;
}
#u30018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30018_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u30019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30019 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:212px;
  width:31px;
  height:22px;
  display:flex;
}
#u30019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30019_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u30020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30020 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:245px;
  width:31px;
  height:22px;
  display:flex;
}
#u30020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30020_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u30021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30021 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:272px;
  width:31px;
  height:22px;
  display:flex;
}
#u30021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30021_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
