body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-29px;
  width:815px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u23169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23169 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:673px;
  width:70px;
  height:32px;
  display:flex;
}
#u23169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u23170 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:673px;
  width:70px;
  height:32px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u23170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:475px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.5450980392156862);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23171 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:174px;
  width:811px;
  height:475px;
  display:flex;
}
#u23171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.5450980392156862);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23172 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:25px;
  width:811px;
  height:152px;
  display:flex;
}
#u23172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u23173 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:227px;
  width:52px;
  height:48px;
  display:flex;
}
#u23173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u23174 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:229px;
  width:52px;
  height:48px;
  display:flex;
}
#u23174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u23175 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:229px;
  width:52px;
  height:48px;
  display:flex;
}
#u23175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u23176 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:308px;
  width:52px;
  height:43px;
  display:flex;
}
#u23176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u23177 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:229px;
  width:52px;
  height:48px;
  display:flex;
}
#u23177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23178 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:104px;
  width:783px;
  height:64px;
}
#u23179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u23179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  display:flex;
}
#u23179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u23180 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:0px;
  width:119px;
  height:30px;
  display:flex;
}
#u23180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u23181 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:0px;
  width:129px;
  height:30px;
  display:flex;
}
#u23181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u23182 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:0px;
  width:211px;
  height:30px;
  display:flex;
}
#u23182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u23183 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:0px;
  width:116px;
  height:30px;
  display:flex;
}
#u23183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u23184 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:0px;
  width:129px;
  height:30px;
  display:flex;
}
#u23184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u23185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:78px;
  height:34px;
  display:flex;
}
#u23185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
}
#u23186 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:30px;
  width:119px;
  height:34px;
  display:flex;
}
#u23186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u23187 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:30px;
  width:129px;
  height:34px;
  display:flex;
}
#u23187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:34px;
}
#u23188 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:30px;
  width:211px;
  height:34px;
  display:flex;
}
#u23188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
}
#u23189 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:30px;
  width:116px;
  height:34px;
  display:flex;
}
#u23189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u23190 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:30px;
  width:129px;
  height:34px;
  display:flex;
}
#u23190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u23191 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:11px;
  width:86px;
  height:18px;
  display:flex;
  color:#169BD5;
}
#u23191 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23191_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23192 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:69px;
  width:92px;
  height:18px;
  display:flex;
}
#u23192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23192_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23193 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:86px;
  width:300px;
  height:16px;
  display:flex;
}
#u23193 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23194 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:33px;
  width:272px;
  height:17px;
  display:flex;
}
#u23194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23195 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:51px;
  width:226px;
  height:18px;
  display:flex;
}
#u23195 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23195_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u23196 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:187px;
  width:92px;
  height:18px;
  display:flex;
  color:#169BD5;
}
#u23196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u23197 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:308px;
  width:52px;
  height:43px;
  display:flex;
}
#u23197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23198 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:206px;
  width:66px;
  height:18px;
  display:flex;
}
#u23198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23198_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23199 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:287px;
  width:66px;
  height:18px;
  display:flex;
}
#u23199 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23199_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23200 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:363px;
  width:66px;
  height:18px;
  display:flex;
}
#u23200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23200_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23201 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:433px;
  width:40px;
  height:10px;
  display:flex;
}
#u23201 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23201_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u23202 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:457px;
  width:52px;
  height:43px;
  display:flex;
}
#u23202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u23203 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:457px;
  width:52px;
  height:43px;
  display:flex;
}
#u23203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23204 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:519px;
  width:40px;
  height:10px;
  display:flex;
}
#u23204 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23204_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23205 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:534px;
  width:799px;
  height:128px;
  display:flex;
  text-align:left;
}
#u23205 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u23206 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:227px;
  width:52px;
  height:48px;
  display:flex;
}
#u23206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23207 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:238px;
  width:52px;
  height:37px;
  visibility:hidden;
}
#u23207_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23207_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  display:flex;
}
#u23208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u23209 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:38px;
  height:21px;
  display:flex;
  font-size:9px;
}
#u23209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u23210 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:38px;
  height:21px;
  display:flex;
  font-size:9px;
}
#u23210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23211 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:314px;
  width:52px;
  height:37px;
  visibility:hidden;
}
#u23211_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23211_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  display:flex;
}
#u23212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u23213 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:38px;
  height:21px;
  display:flex;
  font-size:9px;
}
#u23213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u23214 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:38px;
  height:21px;
  display:flex;
  font-size:9px;
}
#u23214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23215 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:463px;
  width:52px;
  height:37px;
  visibility:hidden;
}
#u23215_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23215_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  display:flex;
}
#u23216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u23217 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:38px;
  height:21px;
  display:flex;
  font-size:9px;
}
#u23217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u23218 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:38px;
  height:21px;
  display:flex;
  font-size:9px;
}
#u23218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23219 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:240px;
  width:52px;
  height:37px;
  visibility:hidden;
}
#u23219_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23219_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  display:flex;
}
#u23220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u23221 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:38px;
  height:21px;
  display:flex;
  font-size:9px;
}
#u23221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u23222 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:38px;
  height:21px;
  display:flex;
  font-size:9px;
}
#u23222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u23223 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:383px;
  width:52px;
  height:43px;
  display:flex;
}
#u23223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
