body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:891px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u26118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:618px;
}
#u26118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:618px;
  display:flex;
}
#u26118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26119 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:120px;
  width:128px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:620px;
}
#u26120 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:48px;
  width:469px;
  height:620px;
  display:flex;
}
#u26120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26121 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:609px;
  width:65px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
