body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:906px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u26423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:284px;
}
#u26423 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:0px;
  width:930px;
  height:284px;
  display:flex;
}
#u26423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:427px;
}
#u26424 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:27px;
  width:522px;
  height:427px;
  display:flex;
}
#u26424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26425 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:64px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26426 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:366px;
  width:228px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
