body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-29px;
  width:815px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20538 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:673px;
  width:70px;
  height:32px;
  display:flex;
}
#u20538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20539 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:673px;
  width:70px;
  height:32px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:475px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.5450980392156862);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20540 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:174px;
  width:811px;
  height:475px;
  display:flex;
}
#u20540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.5450980392156862);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20541 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:25px;
  width:811px;
  height:152px;
  display:flex;
}
#u20541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u20542 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:227px;
  width:52px;
  height:48px;
  display:flex;
}
#u20542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u20543 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:229px;
  width:52px;
  height:48px;
  display:flex;
}
#u20543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u20544 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:229px;
  width:52px;
  height:48px;
  display:flex;
}
#u20544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u20545 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:308px;
  width:52px;
  height:43px;
  display:flex;
}
#u20545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u20546 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:229px;
  width:52px;
  height:48px;
  display:flex;
}
#u20546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20547 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:104px;
  width:783px;
  height:64px;
}
#u20548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u20548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  display:flex;
}
#u20548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u20549 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:0px;
  width:119px;
  height:30px;
  display:flex;
}
#u20549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u20550 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:0px;
  width:129px;
  height:30px;
  display:flex;
}
#u20550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u20551 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:0px;
  width:211px;
  height:30px;
  display:flex;
}
#u20551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u20552 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:0px;
  width:116px;
  height:30px;
  display:flex;
}
#u20552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u20553 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:0px;
  width:129px;
  height:30px;
  display:flex;
}
#u20553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u20554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:78px;
  height:34px;
  display:flex;
}
#u20554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
}
#u20555 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:30px;
  width:119px;
  height:34px;
  display:flex;
}
#u20555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u20556 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:30px;
  width:129px;
  height:34px;
  display:flex;
}
#u20556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:34px;
}
#u20557 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:30px;
  width:211px;
  height:34px;
  display:flex;
}
#u20557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
}
#u20558 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:30px;
  width:116px;
  height:34px;
  display:flex;
}
#u20558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u20559 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:30px;
  width:129px;
  height:34px;
  display:flex;
}
#u20559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u20560 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:11px;
  width:86px;
  height:18px;
  display:flex;
  color:#169BD5;
}
#u20560 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20560_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20561 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:69px;
  width:92px;
  height:18px;
  display:flex;
}
#u20561 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20561_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20562 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:86px;
  width:300px;
  height:16px;
  display:flex;
}
#u20562 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20563 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:33px;
  width:272px;
  height:17px;
  display:flex;
}
#u20563 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20564 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:51px;
  width:226px;
  height:18px;
  display:flex;
}
#u20564 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20564_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u20565 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:187px;
  width:92px;
  height:18px;
  display:flex;
  color:#169BD5;
}
#u20565 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20565_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u20566 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:308px;
  width:52px;
  height:43px;
  display:flex;
}
#u20566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20567 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:206px;
  width:66px;
  height:18px;
  display:flex;
}
#u20567 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20567_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20568 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:287px;
  width:66px;
  height:18px;
  display:flex;
}
#u20568 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20568_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20569 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:363px;
  width:66px;
  height:18px;
  display:flex;
}
#u20569 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20569_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20570 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:433px;
  width:40px;
  height:10px;
  display:flex;
}
#u20570 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20570_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u20571 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:457px;
  width:52px;
  height:43px;
  display:flex;
}
#u20571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u20572 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:457px;
  width:52px;
  height:43px;
  display:flex;
}
#u20572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20573 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:519px;
  width:40px;
  height:10px;
  display:flex;
}
#u20573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20573_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u20574 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:534px;
  width:799px;
  height:128px;
  display:flex;
  text-align:left;
}
#u20574 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u20575 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:227px;
  width:52px;
  height:48px;
  display:flex;
}
#u20575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20576 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:238px;
  width:52px;
  height:37px;
  visibility:hidden;
}
#u20576_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20576_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  display:flex;
}
#u20577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u20578 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:38px;
  height:21px;
  display:flex;
  font-size:9px;
}
#u20578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u20579 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:38px;
  height:21px;
  display:flex;
  font-size:9px;
}
#u20579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20580 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:314px;
  width:52px;
  height:37px;
  visibility:hidden;
}
#u20580_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20580_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  display:flex;
}
#u20581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u20582 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:38px;
  height:21px;
  display:flex;
  font-size:9px;
}
#u20582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u20583 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:38px;
  height:21px;
  display:flex;
  font-size:9px;
}
#u20583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20584 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:463px;
  width:52px;
  height:37px;
  visibility:hidden;
}
#u20584_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20584_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  display:flex;
}
#u20585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u20586 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:38px;
  height:21px;
  display:flex;
  font-size:9px;
}
#u20586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u20587 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:38px;
  height:21px;
  display:flex;
  font-size:9px;
}
#u20587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20588 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:240px;
  width:52px;
  height:37px;
  visibility:hidden;
}
#u20588_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20588_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:37px;
  display:flex;
}
#u20589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u20590 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:38px;
  height:21px;
  display:flex;
  font-size:9px;
}
#u20590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u20591 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:38px;
  height:21px;
  display:flex;
  font-size:9px;
}
#u20591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u20592 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:383px;
  width:52px;
  height:43px;
  display:flex;
}
#u20592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
