body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:856px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u29930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u29930 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:65px;
  height:22px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u29930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29930_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u29931 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:536px;
  width:91px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u29931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u29932 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:10px;
  width:20px;
  height:22px;
  display:flex;
}
#u29932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:2px;
}
#u29933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:856px;
  height:1px;
  display:flex;
}
#u29933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29934 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:64px;
  width:152px;
  height:30px;
}
#u29934_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u29936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u29936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u29936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29936_img.mouseOver {
}
#u29936.mouseOver {
}
#u29936_img.selected {
}
#u29936.selected {
}
#u29936_img.mouseOver.selected {
}
#u29936.mouseOver.selected {
}
#u29936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u29937 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:0px;
  width:76px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u29937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29937_img.mouseOver {
}
#u29937.mouseOver {
}
#u29937_img.selected {
}
#u29937.selected {
}
#u29937_img.mouseOver.selected {
}
#u29937.mouseOver.selected {
}
#u29937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29938 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:94px;
  width:749px;
  height:353px;
}
#u29938_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:353px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29938_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:353px;
}
#u29939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:353px;
  display:flex;
}
#u29939 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:180px;
  height:108px;
  display:flex;
}
#u29940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29941 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:23px;
  width:180px;
  height:108px;
  display:flex;
}
#u29941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29942 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:23px;
  width:180px;
  height:108px;
  display:flex;
}
#u29942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29943 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:23px;
  width:180px;
  height:108px;
  display:flex;
}
#u29943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:180px;
  height:108px;
  display:flex;
}
#u29944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29945 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:174px;
  width:180px;
  height:108px;
  display:flex;
}
#u29945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29946 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:173px;
  width:180px;
  height:108px;
  display:flex;
}
#u29946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"ZapfDingbatsITC", "Zapf Dingbats", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u29947 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:94px;
  width:21px;
  height:20px;
  display:flex;
  font-family:"ZapfDingbatsITC", "Zapf Dingbats", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u29947 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u29948 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:245px;
  width:21px;
  height:20px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u29948 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u29949 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:94px;
  width:21px;
  height:20px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u29949 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29938_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:353px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u29938_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:353px;
}
#u29950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:353px;
  display:flex;
}
#u29950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:180px;
  height:108px;
  display:flex;
}
#u29951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29952 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:23px;
  width:180px;
  height:108px;
  display:flex;
}
#u29952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29953 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:23px;
  width:180px;
  height:108px;
  display:flex;
}
#u29953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29954 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:23px;
  width:180px;
  height:108px;
  display:flex;
}
#u29954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:180px;
  height:108px;
  display:flex;
}
#u29955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29956 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:174px;
  width:180px;
  height:108px;
  display:flex;
}
#u29956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:108px;
}
#u29957 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:173px;
  width:180px;
  height:108px;
  display:flex;
}
#u29957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u29958 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:94px;
  width:21px;
  height:20px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u29958 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u29959 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:245px;
  width:21px;
  height:20px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u29959 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
