body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-14px;
  width:1869px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u29891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:1195px;
}
#u29891 {
  border-width:0px;
  position:absolute;
  left:1331px;
  top:913px;
  width:552px;
  height:1195px;
  display:flex;
}
#u29891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:702px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29892 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:13px;
  width:1280px;
  height:702px;
  display:flex;
}
#u29892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:57px;
}
#u29893 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:45px;
  width:225px;
  height:57px;
  display:flex;
  font-size:16px;
}
#u29893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 131, 0, 0.5568627450980392);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u29894 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:114px;
  width:1280px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u29894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u29895 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:124px;
  width:271px;
  height:25px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u29895 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29895_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u29896 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:121px;
  width:27px;
  height:29px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u29896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u29897 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:125px;
  width:229px;
  height:25px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u29897 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29897_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:546px;
}
#u29898 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:169px;
  width:1260px;
  height:546px;
  display:flex;
  font-size:20px;
}
#u29898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
