body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:856px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20152 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:23px;
  width:856px;
  height:500px;
}
#u20152_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:500px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20152_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:475px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.5450980392156862);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20153 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:188px;
  width:811px;
  height:475px;
  display:flex;
}
#u20153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.5450980392156862);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20154 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:811px;
  height:152px;
  display:flex;
}
#u20154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20155 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:815px;
  width:118px;
  height:34px;
  display:flex;
}
#u20155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u20156 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:216px;
  width:52px;
  height:48px;
  display:flex;
}
#u20156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u20157 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:216px;
  width:52px;
  height:48px;
  display:flex;
}
#u20157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u20158 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:218px;
  width:52px;
  height:48px;
  display:flex;
}
#u20158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u20159 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:218px;
  width:52px;
  height:48px;
  display:flex;
}
#u20159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u20160 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:297px;
  width:52px;
  height:43px;
  display:flex;
}
#u20160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:48px;
}
#u20161 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:218px;
  width:52px;
  height:48px;
  display:flex;
}
#u20161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20162 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:93px;
  width:783px;
  height:64px;
}
#u20163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u20163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  display:flex;
}
#u20163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u20164 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:0px;
  width:119px;
  height:30px;
  display:flex;
}
#u20164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u20165 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:0px;
  width:129px;
  height:30px;
  display:flex;
}
#u20165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u20166 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:0px;
  width:211px;
  height:30px;
  display:flex;
}
#u20166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u20167 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:0px;
  width:116px;
  height:30px;
  display:flex;
}
#u20167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u20168 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:0px;
  width:129px;
  height:30px;
  display:flex;
}
#u20168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u20169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:78px;
  height:34px;
  display:flex;
}
#u20169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
}
#u20170 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:30px;
  width:119px;
  height:34px;
  display:flex;
}
#u20170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u20171 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:30px;
  width:129px;
  height:34px;
  display:flex;
}
#u20171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:34px;
}
#u20172 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:30px;
  width:211px;
  height:34px;
  display:flex;
}
#u20172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
}
#u20173 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:30px;
  width:116px;
  height:34px;
  display:flex;
}
#u20173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u20174 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:30px;
  width:129px;
  height:34px;
  display:flex;
}
#u20174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u20175 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:86px;
  height:18px;
  display:flex;
  color:#169BD5;
}
#u20175 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20175_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20176 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:58px;
  width:92px;
  height:18px;
  display:flex;
}
#u20176 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20176_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20177 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:75px;
  width:300px;
  height:16px;
  display:flex;
}
#u20177 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20178 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:22px;
  width:272px;
  height:17px;
  display:flex;
}
#u20178 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20179 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:40px;
  width:226px;
  height:18px;
  display:flex;
}
#u20179 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20179_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u20180 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:176px;
  width:92px;
  height:18px;
  display:flex;
  color:#169BD5;
}
#u20180 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20180_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u20181 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:297px;
  width:52px;
  height:43px;
  display:flex;
}
#u20181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20182 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:195px;
  width:66px;
  height:18px;
  display:flex;
}
#u20182 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20182_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20183 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:276px;
  width:66px;
  height:18px;
  display:flex;
}
#u20183 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20183_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20184 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:352px;
  width:66px;
  height:18px;
  display:flex;
}
#u20184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20184_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20185 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:422px;
  width:40px;
  height:10px;
  display:flex;
}
#u20185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20185_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u20186 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:446px;
  width:52px;
  height:43px;
  display:flex;
}
#u20186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u20187 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:446px;
  width:52px;
  height:43px;
  display:flex;
}
#u20187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20188 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:508px;
  width:40px;
  height:10px;
  display:flex;
}
#u20188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20188_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20189 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:523px;
  width:799px;
  height:128px;
  display:flex;
}
#u20189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u20190 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:815px;
  width:118px;
  height:34px;
  display:flex;
  color:#555555;
}
#u20190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20191 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:672px;
  width:53px;
  height:18px;
  display:flex;
}
#u20191 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20191_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20192 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:672px;
  width:533px;
  height:122px;
  display:flex;
}
#u20192 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 0px 7px;
  box-sizing:border-box;
  width:100%;
}
#u20192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u20193 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:217px;
  width:52px;
  height:43px;
  display:flex;
  font-size:48px;
}
#u20193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u20194 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:297px;
  width:52px;
  height:43px;
  display:flex;
  font-size:48px;
}
#u20194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u20195 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:446px;
  width:52px;
  height:43px;
  display:flex;
  font-size:48px;
}
#u20195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u20196 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:373px;
  width:52px;
  height:43px;
  display:flex;
  font-size:48px;
}
#u20196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
