body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-231px;
  width:204px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13462 {
  position:absolute;
  left:231px;
  top:72px;
}
#u13462_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:204px;
  height:266px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13462_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:266px;
  display:flex;
}
#u13463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13464_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13464_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13464_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13464_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
}
#u13464 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:14px;
  width:66px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u13464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13464_img.hint {
}
#u13464.hint {
}
#u13464_img.disabled {
}
#u13464.disabled {
}
#u13464_img.hint.disabled {
}
#u13464.hint.disabled {
}
#u13465_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13465_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13465_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13465_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:25px;
}
#u13465 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:64px;
  width:194px;
  height:25px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13465_img.hint {
}
#u13465.hint {
}
#u13465_img.disabled {
}
#u13465.disabled {
}
#u13465_img.hint.disabled {
}
#u13465.hint.disabled {
}
#u13466 label {
  left:0px;
  width:100%;
}
#u13466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u13466 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:101px;
  width:44px;
  height:18px;
  display:flex;
}
#u13466 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u13466_img.selected {
}
#u13466.selected {
}
#u13466_img.disabled {
}
#u13466.disabled {
}
#u13466_img.selected.error {
}
#u13466.selected.error {
}
#u13466_img.selected.hint {
}
#u13466.selected.hint {
}
#u13466_img.selected.error.hint {
}
#u13466.selected.error.hint {
}
#u13466_img.mouseOver.selected {
}
#u13466.mouseOver.selected {
}
#u13466_img.mouseOver.selected.error {
}
#u13466.mouseOver.selected.error {
}
#u13466_img.mouseOver.selected.hint {
}
#u13466.mouseOver.selected.hint {
}
#u13466_img.mouseOver.selected.error.hint {
}
#u13466.mouseOver.selected.error.hint {
}
#u13466_img.mouseDown.selected {
}
#u13466.mouseDown.selected {
}
#u13466_img.mouseDown.selected.error {
}
#u13466.mouseDown.selected.error {
}
#u13466_img.mouseDown.selected.hint {
}
#u13466.mouseDown.selected.hint {
}
#u13466_img.mouseDown.selected.error.hint {
}
#u13466.mouseDown.selected.error.hint {
}
#u13466_img.mouseOver.mouseDown.selected {
}
#u13466.mouseOver.mouseDown.selected {
}
#u13466_img.mouseOver.mouseDown.selected.error {
}
#u13466.mouseOver.mouseDown.selected.error {
}
#u13466_img.mouseOver.mouseDown.selected.hint {
}
#u13466.mouseOver.mouseDown.selected.hint {
}
#u13466_img.mouseOver.mouseDown.selected.error.hint {
}
#u13466.mouseOver.mouseDown.selected.error.hint {
}
#u13466_img.focused.selected {
}
#u13466.focused.selected {
}
#u13466_img.focused.selected.error {
}
#u13466.focused.selected.error {
}
#u13466_img.focused.selected.hint {
}
#u13466.focused.selected.hint {
}
#u13466_img.focused.selected.error.hint {
}
#u13466.focused.selected.error.hint {
}
#u13466_img.selected.disabled {
}
#u13466.selected.disabled {
}
#u13466_img.selected.hint.disabled {
}
#u13466.selected.hint.disabled {
}
#u13466_img.selected.error.disabled {
}
#u13466.selected.error.disabled {
}
#u13466_img.selected.error.hint.disabled {
}
#u13466.selected.error.hint.disabled {
}
#u13466_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:27px;
  white-space:nowrap;
  text-transform:none;
}
#u13466_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13467 label {
  left:0px;
  width:100%;
}
#u13467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u13467 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:101px;
  width:44px;
  height:18px;
  display:flex;
}
#u13467 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u13467_img.selected {
}
#u13467.selected {
}
#u13467_img.disabled {
}
#u13467.disabled {
}
#u13467_img.selected.error {
}
#u13467.selected.error {
}
#u13467_img.selected.hint {
}
#u13467.selected.hint {
}
#u13467_img.selected.error.hint {
}
#u13467.selected.error.hint {
}
#u13467_img.mouseOver.selected {
}
#u13467.mouseOver.selected {
}
#u13467_img.mouseOver.selected.error {
}
#u13467.mouseOver.selected.error {
}
#u13467_img.mouseOver.selected.hint {
}
#u13467.mouseOver.selected.hint {
}
#u13467_img.mouseOver.selected.error.hint {
}
#u13467.mouseOver.selected.error.hint {
}
#u13467_img.mouseDown.selected {
}
#u13467.mouseDown.selected {
}
#u13467_img.mouseDown.selected.error {
}
#u13467.mouseDown.selected.error {
}
#u13467_img.mouseDown.selected.hint {
}
#u13467.mouseDown.selected.hint {
}
#u13467_img.mouseDown.selected.error.hint {
}
#u13467.mouseDown.selected.error.hint {
}
#u13467_img.mouseOver.mouseDown.selected {
}
#u13467.mouseOver.mouseDown.selected {
}
#u13467_img.mouseOver.mouseDown.selected.error {
}
#u13467.mouseOver.mouseDown.selected.error {
}
#u13467_img.mouseOver.mouseDown.selected.hint {
}
#u13467.mouseOver.mouseDown.selected.hint {
}
#u13467_img.mouseOver.mouseDown.selected.error.hint {
}
#u13467.mouseOver.mouseDown.selected.error.hint {
}
#u13467_img.focused.selected {
}
#u13467.focused.selected {
}
#u13467_img.focused.selected.error {
}
#u13467.focused.selected.error {
}
#u13467_img.focused.selected.hint {
}
#u13467.focused.selected.hint {
}
#u13467_img.focused.selected.error.hint {
}
#u13467.focused.selected.error.hint {
}
#u13467_img.selected.disabled {
}
#u13467.selected.disabled {
}
#u13467_img.selected.hint.disabled {
}
#u13467.selected.hint.disabled {
}
#u13467_img.selected.error.disabled {
}
#u13467.selected.error.disabled {
}
#u13467_img.selected.error.hint.disabled {
}
#u13467.selected.error.hint.disabled {
}
#u13467_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:27px;
  white-space:nowrap;
  text-transform:none;
}
#u13467_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13468 label {
  left:0px;
  width:100%;
}
#u13468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u13468 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:101px;
  width:57px;
  height:18px;
  display:flex;
}
#u13468 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u13468_img.selected {
}
#u13468.selected {
}
#u13468_img.disabled {
}
#u13468.disabled {
}
#u13468_img.selected.error {
}
#u13468.selected.error {
}
#u13468_img.selected.hint {
}
#u13468.selected.hint {
}
#u13468_img.selected.error.hint {
}
#u13468.selected.error.hint {
}
#u13468_img.mouseOver.selected {
}
#u13468.mouseOver.selected {
}
#u13468_img.mouseOver.selected.error {
}
#u13468.mouseOver.selected.error {
}
#u13468_img.mouseOver.selected.hint {
}
#u13468.mouseOver.selected.hint {
}
#u13468_img.mouseOver.selected.error.hint {
}
#u13468.mouseOver.selected.error.hint {
}
#u13468_img.mouseDown.selected {
}
#u13468.mouseDown.selected {
}
#u13468_img.mouseDown.selected.error {
}
#u13468.mouseDown.selected.error {
}
#u13468_img.mouseDown.selected.hint {
}
#u13468.mouseDown.selected.hint {
}
#u13468_img.mouseDown.selected.error.hint {
}
#u13468.mouseDown.selected.error.hint {
}
#u13468_img.mouseOver.mouseDown.selected {
}
#u13468.mouseOver.mouseDown.selected {
}
#u13468_img.mouseOver.mouseDown.selected.error {
}
#u13468.mouseOver.mouseDown.selected.error {
}
#u13468_img.mouseOver.mouseDown.selected.hint {
}
#u13468.mouseOver.mouseDown.selected.hint {
}
#u13468_img.mouseOver.mouseDown.selected.error.hint {
}
#u13468.mouseOver.mouseDown.selected.error.hint {
}
#u13468_img.focused.selected {
}
#u13468.focused.selected {
}
#u13468_img.focused.selected.error {
}
#u13468.focused.selected.error {
}
#u13468_img.focused.selected.hint {
}
#u13468.focused.selected.hint {
}
#u13468_img.focused.selected.error.hint {
}
#u13468.focused.selected.error.hint {
}
#u13468_img.selected.disabled {
}
#u13468.selected.disabled {
}
#u13468_img.selected.hint.disabled {
}
#u13468.selected.hint.disabled {
}
#u13468_img.selected.error.disabled {
}
#u13468.selected.error.disabled {
}
#u13468_img.selected.error.hint.disabled {
}
#u13468.selected.error.hint.disabled {
}
#u13468_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:40px;
  white-space:nowrap;
  text-transform:none;
}
#u13468_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13469 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:227px;
  width:64px;
  height:18px;
  display:flex;
}
#u13469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13470 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:227px;
  width:64px;
  height:18px;
  display:flex;
}
#u13470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13471_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u13471_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u13471_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u13471_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u13471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13471 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:133px;
  width:172px;
  height:78px;
  display:flex;
}
#u13471 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13471_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13471.hint {
}
#u13471_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:78px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13471.disabled {
}
#u13471_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:78px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13471.hint.disabled {
}
