body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:766px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:500px;
}
#u18445_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:500px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18445_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u18446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:1px;
  height:37px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u18446 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18446_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u18447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u18447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:728px;
  height:67px;
  display:flex;
  text-align:left;
}
#u18447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u18448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:728px;
  height:21px;
  display:flex;
  text-align:left;
}
#u18448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E98D7;
}
#u18449 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:250px;
  width:140px;
  height:40px;
  display:flex;
  color:#1E98D7;
}
#u18449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u18451 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:24px;
  width:145px;
  height:33px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u18451 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18451_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18452 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:250px;
  width:140px;
  height:40px;
  display:flex;
}
#u18452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
